<template name="listCustomers">
	{{> newestCustomer}}
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-primary" id="btnAddCustomer">Add customer</a>
		</div>
	</div>

	{{#unless Template.subscriptionsReady}}
    {{> spinner}}
  {{/unless}}
	<table class="table">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{{#each customers}}
				<tr>
					<td>{{name}}</td>
					<td>{{surname}}</td>
					<td>{{email}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
  <nav>
    <ul class="pager">
      <li class="{{prevPageClass}}">
        <a id="prevPage" href="{{prevPage}}">
          <span aria-hidden="true">&larr;</span> Previous
        </a>
      </li>
      <li class="{{nextPageClass}}">
        <a id="nextPage" href="{{nextPage}}">
          Next <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
</template>